<% if (pages > 0) { %>
    <ul class="pagination text-center">
        <% if (page == 1) { %>
            <li class="disabled"><a>Početna</a></li>
        <% } else { %>
            <li><a href="/nalozi<%= path %>/1">Početna</a></li>
        <% } %>
        <% var i = (Number(page) > 5 ? Number(page) - 4 : 1) %>
        <% if (i !== 1) { %>
            <li class="disabled"><a>...</a></li>
        <% } %>
        <% for (; i <= (Number(page) + 4) && i <= pages; i++) { %>
            <% if (i == page) { %>
                <li class="active"><a><%= i %></a></li>
            <% } else { %>
                <li><a href="/nalozi<%= path %>/<%= i %>"><%= i %></a></li>
            <% } %>
            <% if (i == Number(page) + 4 && i < pages) { %>
                <li class="disabled"><a>...</a></li>
            <% } %>
        <% } %>
        <% if (page == pages) { %>
            <li class="disabled"><a>Posljednja</a></li>
        <% } else { %>
            <li><a href="/nalozi<%= path %>/<%= pages %>">Posljednja</a></li>
        <% } %>
    </ul>
<% } %>