<%- include('includes/head.ejs') %>
    </head>

    <body id="page-top">
        <div id="wrapper">
            <%- include('includes/navigation.ejs') %>
                <div id="content-wrapper" class="d-flex flex-column">
                    <div id="content">
                        <%- include('includes/logout.ejs', {user: user}) %>
                            <div class="container-fluid">
                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                </div>

                                <form>
                                    <div class="decision-body__top">
                                        <div class="top-left">

                                            <div>
                                                <label>Int.br.: </label>
                                                <label>
                                                    <%= dec.int_num %>
                                                </label>

                                            </div>
                                            <div>
                                                <label>Dana, </label>
                                                <label>
                                                    <%= dec.date1.split("-").reverse().join(".") %>.
                                                </label>
                                            </div>
                                        </div>
                                        <div class="top-right">
                                        </div>

                                        <div class="decision_title">
                                            <h1 class="h4 mb-0 text-gray-800">Odluka o upućivanju na službeni put</h1>
                                        </div>

                                        <div class="decision_text">
                                            <label>Zaposleni, </label>
                                            <label>
                                                <%= dec.employee.name %>
                                            </label>
                                            <% if (dec.job_title.length>0){ %>
                                            <label>,<%= dec.job_title %>,</label>
                                            <% } else { %>
                                            &nbsp;
                                            <% } %>
                                            <label>upućuje se dana </label>
                                            <label>
                                                <%= dec.date2.split("-").reverse().join(".") %>.
                                            </label>
                                            <label>, na službeni put na relaciji:</label>
                                            <label>
                                                <%= dec.relations %>
                                            </label>
                                            </br>
                                            </br>
                                            <div>
                                                <label>Razlog upućivanja na službeni put:</label>
                                                </br>
                                                <p>
                                                    <%- dec.reasons.replace(/(\r\n|\n\r|\r|\n)/g, '<br>' ) %>
                                                </p>
                                            </div>
                                            <div>

                                            </div>
                                            <br>

                                            <div>
                                                <label>Zaposleni će koristiti vozilo: </label>
                                                <label>
                                                    <%= dec.vehicle.car +" "+dec.vehicle.registration %></label>
                                                    
                                                    </div>
                                                    <div>
                                                        <label>Trošak putovanja snosi preduzeće.</label>
                                                    </div>
                                                    </br>
                                                    <div>
                                                        <a href=" /nalozi/print-decision" type="button" target=”_blank”
                                                        class='btn btn-primary'>
                                                        <i class='fa fa-print'></i>&nbsp;Štampaj</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                </br>
                                </br>

                                <% if (isSuccessful===true) { %>
                                    <script src="/nalozi/js/alertify.min.js"></script>
                                    <script type="text/javascript">alertify.success('Odluka je kreirana');</script>
                                    <% } %>
                            </div>
                    </div>
                    <%- include('includes/footer.ejs') %>
    </body>

    </html>
