<%- include('includes/head.ejs') %>
    </head>

    <body id="page-top">
        <div id="wrapper">
            <%- include('includes/navigation.ejs') %>
                <div id="content-wrapper" class="d-flex flex-column">
                    <div id="content">
                        <%- include('includes/logout.ejs', {user: user}) %>
                            <div class="container-fluid">
                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                </div>

                                <form id="decision_form" action="/add-decision" method="POST">
                                    <div class="decision-body__top">
                                        <div>
                                            <label>Int.br.: </label>
                                            <input type="text" name="int_num" id="int_num" class="form-control">
                                        </div>
                                        <div class="date-element">
                                            <label id="date-label-element">Dana, </label>
                                            <input id="date1" name="date1" maxlength='10' placeholder="dd.mm.yyyy"
                                                class="form-control">
                                            <script>
                                                $('#date1').datepicker({
                                                    format: 'dd.mm.yyyy',
                                                    uiLibrary: 'bootstrap4'
                                                });
                                            </script>
                                        </div>

                                        <div class="decision_title">
                                            <h1 class="h4 mb-0 text-gray-800">Odluka o upućivanju na službeni put</h1>
                                        </div>

                                        <div class="decision_text">
                                            <div class="decision-top">
                                                <div class="decision_text_left">
                                                    <label>Zaposleni, </label>
                                                    <select id="select_employees" name="select_employees"
                                                        class="form-control">
                                                        <% if (emp.length> 0) { %>
                                                            <option default value="0"></option>
                                                            <% for (let employees of emp) { %>
                                                                <option value="<%= employees.id %>">
                                                                    <%= employees.name %>
                                                                </option>
                                                                <% } %>
                                                                    <% } else { %>
                                                                        <option value="0"></option>
                                                                        <% } %>
                                                    </select>
                                                    <input type="text" id="job_title" name="job_title"
                                                        class="form-control">
                                                    <label>upućuje se dana
                                                    </label>
                                                </div>
                                                <div class="decision_text_center">
                                                    <input id="date2" name="date2" maxlength='10'
                                                        placeholder="dd.mm.yyyy" class="form-control">
                                                    <script>
                                                        $('#date2').datepicker({
                                                            format: 'dd.mm.yyyy',
                                                            uiLibrary: 'bootstrap4'
                                                        });
                                                    </script>
                                                </div>
                                                <div class="decision_text_right">
                                                    <label id="relations_label">, na službeni
                                                        put na relaciji: </label><input type="text" name="relations"
                                                        id="relations" class="form-control">
                                                    </br>
                                                    </br>
                                                </div>
                                            </div>
                                            <div>
                                                <label>Razlog upućivanja na službeni put:</label>
                                            </div>
                                            <div>
                                                <textarea name="reasons" id="reasons" class="form-control"
                                                    row="5"></textarea>
                                            </div>
                                            <br>

                                            <div>
                                                <label>Zaposleni će koristiti vozilo: </label>
                                                <select id="select_vehicle" name="select_vehicle" class="form-control">
                                                    <% if (veh.length> 0) { %>
                                                        <option default value="0"></option>
                                                        <% for (let vehicle of veh) { %>
                                                            <option value="<%= vehicle.id %>">
                                                                <%= vehicle.car +" "+vehicle.registration %>
                                                            </option>
                                                            <% } %>
                                                                <% } else { %>
                                                                    <option value=" 0">
                                                            </option>
                                                            <% } %>
                                                </select>
                                            </div>
                                            <div>
                                                <label>Trošak putovanja snosi preduzeće</label>
                                            </div>
                                            </br>
                                            <div>
                                                <button type="submit" onclick="return checkFormDecision(event)"
                                                    class="btn btn-success"><i
                                                        class="fas fa-save"></i>&nbsp;Sačuvaj</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                </br>
                                </br>
                                <% if (isSuccessful===false) { %>
                                    <script src="js/alertify.min.js"></script>
                                    <script type="text/javascript">alertify.error('Greška! Pokušajte ponovo');</script>
                                    <% } %>
                            </div>
                    </div>
                    <%- include('includes/footer.ejs') %>
    </body>

    </html>