<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/nalozi/css/pagination.css" />
    <link rel="stylesheet" href="/nalozi/css/history.css" />
    </head>

    <body id="page-top">
        <div id="wrapper">
            <%- include('includes/navigation.ejs') %>
                <div id="content-wrapper" class="d-flex flex-column">
                    <div id="content">
                        <%- include('includes/logout.ejs', {user: user}) %>
                            <div class="container-fluid">
                                <h1 class="h3 mb-4 text-gray-800"></h1>
                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                </div>
                                <div class="filter">
                                    <label>Filter: </label>
                                    <form id="form" action="/nalozi/decision-history" method="GET"
                                        enctype="application/x-www-form-urlencoded">
                                        <select id="select_employees" name="select_employees"
                                            title="Izaberite zaposlenog" class="form-control">
                                            <% if (emp.length> 0) { %>
                                                <option value="0">Svi zaposleni</option>
                                                <% for (let employees of emp) { %>
                                                    <option value="<%= employees.id %>">
                                                        <%= employees.name %>
                                                    </option>
                                                    <% } %>
                                                        <% } else { %>
                                                            <option value="0">Svi zaposleni</option>
                                                            <% } %>
                                        </select>
                                        <select id="select_vehicle" name="select_vehicle" class="form-control"
                                            title="Izaberite vozilo">
                                            <% if (veh.length> 0) { %>
                                                <option value="0">Sva vozila</option>
                                                <% for (let vehicle of veh) { %>
                                                    <option value="<%= vehicle.id %>">
                                                        <%= vehicle.car %>
                                                    </option>
                                                    <% } %>
                                                        <% } else { %>
                                                            <option value=" 0">Sva vozila
                                                            </option>
                                                            <% } %>
                                        </select>
                                        <div class="input-group input-daterange">
                                            <div class="input-group-addon">od</div>
                                            <div class="date1">
                                                <input type="text" id="date-from" name="date_from" maxlength='10'
                                                    placeholder="dd.mm.yyyy" class="form-control">
                                                <script>
                                                    $('#date-from').datepicker({
                                                        format: 'dd.mm.yyyy',
                                                        uiLibrary: 'bootstrap4'
                                                    });
                                                </script>
                                            </div>
                                            <div class="input-group-addon">do</div>
                                            <div class="date2">
                                                <input type="text" id="date-to" name="date_to" maxlength='10'
                                                    placeholder="dd.mm.yyyy" class="form-control">
                                                <script>
                                                    $('#date-to').datepicker({
                                                        format: 'dd.mm.yyyy',
                                                        uiLibrary: 'bootstrap4'
                                                    });
                                                </script>
                                            </div>

                                        </div>
                                        <button id="filter-button" type="submit" onclick="return filter();" class="btn btn-info">Filtriraj</button>
                                    </form>
                                </div>

                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Istorijat odluka <i
                                                class="fa fa-folder-open"></i></h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover" id="dataTable"
                                                data-toggle="table" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Broj odluke</th>
                                                        <th>Datum</th>
                                                        <th>Zaposleni</th>
                                                        <th>Vozilo</th>
                                                        <th>Kreirao</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% var rb=0; %>
                                                        <% if (page> 1 ) { %>
                                                            <% rb=(page-1)*10; %>
                                                                <% } %>
                                                                    <% for (let decision of dec) { %>

                                                                        <tr
                                                                            onclick="window.location='/nalozi/decision-preview/<%= decision.id %>';">

                                                                            <td>
                                                                                <%= rb +=1; %>
                                                                            </td>
                                                                            <td>
                                                                                <%= decision.int_num %>
                                                                            </td>
                                                                            <td>
                                                                                <%= decision.date1.split("-").reverse().join(".")
                                                                                    %>
                                                                            </td>
                                                                            <td>
                                                                                <%= decision.employee.name %>
                                                                            </td>
                                                                            <td>
                                                                                <%= decision.vehicle.car %>
                                                                            </td>
                                                                            <td>
                                                                                <%= decision.user.name %>
                                                                            </td>
                                                                        </tr>

                                                                        <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-4">
                                                <div style='padding: 10px 10px 0px; border-top: dotted 1px #CCC;'>
                                                    <strong>Stranica <%=page %> od <%= pages %>
                                                    </strong>
                                                </div>
                                            </div>

                                            <div class="form-group col-md-3">
                                                <%- include('includes/pagination.ejs', {path: path, query: query}) %>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                </br>
                                </br>

                            </div>
                    </div>
                    <%- include('includes/footer.ejs') %>
    </body>
    <script>
        document.getElementById("select_employees").value = "<%= filter_emp %>";
        document.getElementById("select_vehicle").value = "<%= filter_veh %>";
        document.getElementById("date-from").value = "<%= filter_date_f %>";
        document.getElementById("date-to").value = "<%= filter_date_t %>";

        function filter() {
            const date_from = document.getElementById("date-from").value;
            const date_to = document.getElementById("date-to").value;

            if ((date_from.length == 0) && (date_to.length > 0)) {
                document.getElementById("date-from").focus();
                alertify.alert('Informacija', "Niste unijeli poÄetak perioda");
                return false;
            }

            if ((date_to.length == 0) && (date_from.length > 0)) {
                document.getElementById("date-to").focus();
                alertify.alert('Informacija', "Niste unijeli kraj perioda");
                return false;
            }

            return true;

        }
    </script>

    </html>