<%- include('includes/head.ejs') %>
    </head>

    <body id="page-top">
        <div id="wrapper">
            <%- include('includes/navigation.ejs') %>
                <div id="content-wrapper" class="d-flex flex-column">
                    <div id="content">
                        <%- include('includes/logout.ejs', {user: user}) %>
                            <div class="container-fluid">
                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                </div>
                                <form id="decision_form" action="/add-report" method="POST">
                                    <div class="report-body__top">
                                        <div class="report_title">
                                            <h1 class="h4 mb-0 text-gray-800">Izvještaj sa službenog putovanja</h1>
                                        </div>
                                        </br>

                                        <div class="report_text">
                                            <div>
                                                <label>Datum odlaska: </label>
                                                <label>
                                                    <%= rep.date_departure.split("-").reverse().join(".") %>
                                                </label>
                                            </div>
                                            <div>
                                                <div>
                                                    <label>Datum povratka: </label>
                                                    <label>
                                                        <%= rep.date_arrival.split("-").reverse().join(".") %>
                                                    </label>
                                                </div>
                                            </div>
                                            <div>
                                                <label>Zaposleni: </label>
                                                <label>
                                                    <%= rep.employee.name %>
                                                </label>
                                            </div>
                                            <label>Vozilo: </label>
                                            <label>
                                                <%= rep.vehicle.car + " " + rep.vehicle.registration%>
                                            </label>
                                            </br>
                                            </br>
                                            <div>
                                                <label>Izvještaj:</label>
                                                </br>
                                                <p>
                                                    <%- rep.reasons.replace(/(\r\n|\n\r|\r|\n)/g, '<br>' ) %>
                                                </p>
                                            </div>

                                            <br>
                                            <div>
                                                <a href=" /print-report" type="button" target=”_blank”
                                                    class='btn btn-primary'>
                                                    <i class='fa fa-print'></i>&nbsp;Štampaj</a>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                                </br>
                                </br>
                                <% if (isSuccessful===true) { %>
                                    <script src="js/alertify.min.js"></script>
                                    <script type="text/javascript">alertify.success('Izvještaj je kreiran');</script>
                                    <% } %>
                            </div>
                    </div>
                    <%- include('includes/footer.ejs') %>
    </body>

    </html>